<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('layout/header'); -%>

</head>

<body>

    <!-- Navegacion logo Aviatur -->
    <header class="bg-primary py-5 mb-5">
        <div class="h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="292.138" height="50.269001">
                        <path fill="#fff"
                            d="M69.749 1.006s-6.846 19.852-8.304 23.493c-1.288-3.191-8.356-23.493-8.356-23.493H41.314l20.225 49.263L81.821 1.006H69.749zM277.492 30.885l-.358-.493c3.54-1.624 6.312-4.563 7.755-8.214.693-1.727 1.071-3.624 1.071-5.599 0-3.258-1.022-6.256-2.755-8.738-.784-1.241-1.787-2.316-3.063-3.223-.749-.556-1.595-1.04-2.528-1.468-.23-.103-.483-.222-.734-.322-.051-.023-.087-.036-.14-.064-1.455-.565-3.09-.99-4.939-1.275-.398-.061-.792-.117-1.21-.171-.445-.048-.907-.078-1.363-.12-1.25-.1-2.558-.159-3.981-.159l-3.231-.029h-1.02l-1.108-.004L249.506 1v48.19h11.49V11.139h6.154c2.038.026 3.882.847 5.247 2.152 1.13 1.145 1.913 2.649 2.144 4.354.01.233.027.493.027.743 0 2.121-.841 4.134-2.175 5.59-1.647 1.438-3.766 2.314-6.095 2.324h-5.181c.6.878 1.546 2.237 2.884 3.99.046.05.09.131.153.201.391.511.806 1.056 1.234 1.609 5.423 7.065 13.39 17.088 13.39 17.088h13.36c-.001 0-10.054-12.544-14.646-18.305m-10.197-19.747h-.05c.01-.007.017-.007.042-.007h.102c-.025 0-.061 0-.094.007m2.387.382c.049.011.104.015.153.04h.003c-.045-.026-.097-.03-.156-.04M185.796 1.006h-31.271v10.756h10.035V49.19h11.209V11.762h10.027zM224.097 1.006v27.903c0 10.315-5.068 10.315-7.221 10.315-2.169 0-7.234 0-7.234-10.315V1.006h-11.21v29.698c0 11.412 7.586 19.389 18.444 19.389 10.847 0 18.424-7.977 18.424-19.389V1.006h-11.203zM22.525 0L0 49.19h12.368l2.49-6.85h15.325l2.511 6.85h12.368L22.525 0zm-.034 20.395l4.212 11.935h-8.368l4.156-11.935zM131.382 0l-22.525 49.19h12.365l2.492-6.85h15.331l2.498 6.85h12.376L131.382 0zm-.04 20.395l4.218 11.935h-8.363l4.145-11.935zM89.857994 1.0060015h11.199v48.183998h-11.199z" />
                    </svg>
                </div>
            </div>
        </div>
    </header>

    <!-- Contenido -->
    <div class="container">

        <div class="row">

            <!-- Sidebar  -->
            <div class="col-lg-4">

                <!-- Consulta -->
                <div class="card mb-4">
                    <h5 class="card-header">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 538.6 538.6"
                            enable-background="new 0 0 538.6 538.6" width="25" height="25" xml:space="preserve">
                            <g>
                                <path d="M349.8,262.4c-9.1,21.2-21.5,39.6-37.1,55.2s-33.9,28-54.9,37.1c-21,9.1-43.5,13.7-67.6,13.7c-24.1,0-46.6-4.6-67.6-13.7
		c-21-9.1-39.3-21.5-54.9-37.1s-28-34-37.1-55.2c-9.1-21.2-13.7-43.6-13.7-67.4c0-24.1,4.6-46.6,13.7-67.6
		c9.1-21,21.5-39.3,37.1-54.9s33.9-28,54.9-37.1c21-9.1,43.5-13.7,67.6-13.7c24.1,0,46.6,4.6,67.6,13.7c21,9.1,39.3,21.5,54.9,37.1
		s28,33.9,37.1,54.9c9.1,21,13.7,43.5,13.7,67.6C363.5,218.8,358.9,241.3,349.8,262.4z M190.1,327.9c18.2,0,35.4-3.5,51.5-10.5
		c16.1-7,30.2-16.5,42.2-28.6c12-12,21.6-26.1,28.6-42.2c7-16.1,10.5-33.3,10.5-51.5c0-18.6-3.5-35.9-10.5-52
		c-7-16.1-16.5-30.1-28.6-42c-12-11.9-26.1-21.3-42.2-28.3c-16.1-7-33.3-10.5-51.5-10.5c-18.2,0-35.4,3.5-51.5,10.5
		c-16.1,7-30.2,16.4-42.2,28.3c-12,11.9-21.6,25.9-28.6,42c-7,16.1-10.5,33.4-10.5,52c0,18.2,3.5,35.4,10.5,51.5
		c7,16.1,16.5,30.2,28.6,42.2c12,12,26.1,21.6,42.2,28.6C154.7,324.4,171.9,327.9,190.1,327.9z M505.6,439.2
		c7.5,7.5,11.2,16.6,11.2,27.3s-3.7,19.7-11.2,26.9l-11.2,11.2c-7.5,7.5-16.5,11.2-27.1,11.2c-10.6,0-19.6-3.7-27.1-11.2
		L303.9,367.9c13-8.5,24.9-18.3,35.6-29.5s20-23.5,27.8-36.9L505.6,439.2z" />
                            </g>
                        </svg>
                        Nombre de hotel
                    </h5>
                    <div class="card-body">
                        <div class="input-group">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102.781 118.664"
                                style="enable-background:new 0 0 102.781 118.664;" width="25" height="25"
                                xml:space="preserve">
                                <g id="_x37_-business-center">
                                    <path style="fill:#595858;" d="M42.371,55.488l9.726,7.429l8.602-7.429C55.225,53.366,42.371,55.488,42.371,55.488z M51.391,49.447
		c13.657,0,24.728-11.064,24.728-24.721C76.119,11.068,65.048,0,51.391,0c-13.657,0-24.72,11.068-24.72,24.727
		C26.671,38.383,37.734,49.447,51.391,49.447z M67.967,56.949c-1.182-0.301-9.706,7.372-10.848,9.203c0,0,3.016,3.494,3.023,3.557
		l3.028,30.26c0.011,0.115-10.317,8.324-10.317,8.324c-0.08,0.077-0.194,0.128-0.299,0.128c-0.113,0-0.225-0.051-0.299-0.128
		l-10.091-7.294c-0.085-0.085,3.206-31.219,3.249-31.271l2.768-3.594c-1.131-1.818-12.797-9.344-14.104-8.994
		C14.223,62.465,0,77.137,0,98.381c0,27.043,102.781,27.043,102.781,0C102.781,76.875,88.21,62.105,67.967,56.949z M50.227,73.096
		l-2.045,24.786l4.079,5.36l4.858-4.904l-2.812-25.509l-1.656-4.897L50.227,73.096z" />
                                </g>
                                <g id="Capa_1">
                                </g>
                            </svg>
                            <input type="text" name="name" class="form-control" placeholder="Hotel...">
                            <span class="input-group-append">
                                <a href="/buscar/" class="btn btn-secondary" type="button">Go!</a>
                            </span>
                        </div>
                    </div>

                </div>

                <!-- Consultas -->
                <div class="card my-4">
                    <h5 class="card-header">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 538.6 538.6"
                            enable-background="new 0 0 538.6 538.6" width="25" height="25" xml:space="preserve">
                            <g>
                                <path d="M501.2,218.5c0,2-0.7,4.1-2,6.3c-1.3,2.3-3.1,4.7-5.4,7.3l-102.1,99.6l23.9,140.6c0,0.7,0.1,1.5,0.2,2.4
		c0.2,1,0.2,2.1,0.2,3.4c0,2-0.2,3.7-0.7,5.4c-0.5,1.6-1.2,3.1-2.2,4.4c-1,1.6-2.2,2.8-3.7,3.4c-1.5,0.6-3.2,1-5.1,1
		c-1.6,0-3.4-0.3-5.4-1c-2-0.7-3.9-1.5-5.9-2.4l-126.5-66.4L140.3,489c-2,1-3.9,1.8-5.9,2.4c-2,0.6-3.7,1-5.4,1c-2,0-3.7-0.3-5.1-1
		c-1.5-0.7-2.7-1.8-3.7-3.4c-1-1.3-1.7-2.8-2.2-4.4c-0.5-1.6-0.7-3.4-0.7-5.4c0-0.6,0-1.5,0-2.4s0.2-2.1,0.5-3.4l23.9-140.6
		L39.3,232.2c-2.3-2.6-4-5-5.1-7.3c-1.1-2.3-1.7-4.4-1.7-6.3c0-3.6,1.3-6.4,3.9-8.5c2.6-2.1,6.5-3.7,11.7-4.6l141.6-20.5l63.5-127.9
		c1.6-3.9,3.6-6.8,5.9-8.8c2.3-2,4.9-2.9,7.8-2.9s5.5,1,7.8,2.9c2.3,2,4.2,4.9,5.9,8.8l63.5,127.9l141.6,20.5
		c5.2,1,9.1,2.5,11.7,4.6C499.9,212.1,501.2,214.9,501.2,218.5z" />
                            </g>
                        </svg>
                        Estrellas
                    </h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" 
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" 
                                            id="flexRadioDefault2" >
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            2
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" 
                                            id="flexRadioDefault3" checked>
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            3
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" 
                                            id="flexRadioDefault4" >
                                        <label class="form-check-label" for="flexRadioDefault4">
                                            4
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" 
                                            id="flexRadioDefault" >
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            5
                                        </label>
                                    </div>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Blog hoteles -->
            <div class="col-lg-8">

                <div class="row">
                    <% hoteles.forEach(function (hotel){ %>

                        <div class="col-lg-6 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="/hotel/<%= hotel.id %>"><img class="card-img-top"
                                        src="vendor/assets/images/hotels/<%= hotel.image%>" width="100" height="250"
                                        alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/buscar/<%= hotel.name %>">
                                            <%= hotel.name %>
                                        </a>
                                    </h4>
                                    <h4 class="card-title">
                                    </h4>



                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 118.902 84.223" style="enable-background:new 0 0 118.902 84.223;"
                                        width="30" height="30" xml:space="preserve">
                                        <g id="_x35_8-bathtub">
                                            <path style="fill:#595858;" d="M4.955,49.541c0,9.197,5.019,17.205,12.46,21.481l-6.331,6.329c-1.567,1.572-1.567,4.123,0,5.692
		c0.786,0.786,1.815,1.18,2.85,1.18c1.029,0,2.058-0.394,2.845-1.18l9.06-9.063c1.272,0.203,2.562,0.335,3.885,0.335h59.451
		c1.325,0,2.613-0.132,3.886-0.335l9.061,9.063c0.786,0.786,1.815,1.18,2.85,1.18c1.029,0,2.059-0.394,2.845-1.18
		c1.567-1.57,1.567-4.12,0-5.692l-6.331-6.329c7.442-4.276,12.46-12.284,12.46-21.481v-9.907H4.955V49.541z M113.947,27.248H17.34
		V14.863c0-5.768,4.082-8.052,7.43-8.052c4.446,0,8.049,3.602,8.049,8.052h6.817C39.636,6.653,32.981,0,24.771,0
		C16.566,0,9.905,6.653,9.905,14.863v12.385H4.955C2.214,27.248,0,29.466,0,32.203v2.475h118.902v-2.475
		C118.902,29.466,116.688,27.248,113.947,27.248z" />
                                        </g>
                                        <g id="Capa_1">
                                        </g>
                                    </svg>

                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 118.67 81.124" style="enable-background:new 0 0 118.67 81.124;"
                                        width="30" height="30" xml:space="preserve">
                                        <g id="_x37_7-sheets">
                                            <path style="fill:#59595C;" d="M118.585,28.36c0-6.788,0-12.33,0-12.33s-13.505,1.866-32.198,35.456h-55.34
		c-1.022-1.482-2.691-4.47-2.691-8.305c0-4.416,1.569-7.084,2.518-8.305h36.904c8.174,7.663,14.787,13.99,14.787,13.99
		s8.469-16.585,19.915-26.428c11.182-9.614,16.106-11.325,16.106-11.325s0-5.74-4.137-5.904c-4.812-0.191-85.64-5.182-85.64-5.182
		S17.263-0.695,15.122,5.267l-2.213,0.001C12.78,5.287,0,7.182,0,20.505c0,5.8,2.329,9.37,5.09,11.507
		C2.378,34.274,0,37.885,0,43.628c0,5.8,2.329,9.37,5.09,11.507C2.378,57.397,0,61.009,0,66.752c0,11.46,9.074,14.257,12.651,14.372
		h106.02V58v-6.514V28.36H118.585z M13.573,58h9.841c-0.888,2.137-1.574,4.888-1.574,8.307c0,3.483,0.754,6.227,1.642,8.309
		l-10.621,0.001c-1.061-0.072-6.344-0.789-6.344-7.865C6.517,59.855,12.053,58.297,13.573,58z M13.353,34.877h10.061
		c-0.888,2.137-1.574,4.887-1.574,8.305c0,3.278,0.809,6.077,1.787,8.305h-8.122l-0.423,0.005h-2.255
		c-1.052-0.065-6.311-0.743-6.311-7.862C6.517,36.435,12.541,35.049,13.353,34.877z M97.602,63.686c0,0,7.052,7.154,14.239,1.916
		c0.121-0.088,0.201-0.169,0.318-0.257v9.262l-81.117,0.008c-1.03-1.482-2.685-4.447-2.685-8.308c0-4.418,1.569-7.087,2.518-8.307
		h61.128L97.602,63.686z M30.872,11.755h11.428c4.645,3.898,11.613,10.228,18.494,16.607l-29.744,0.003
		c-1.022-1.481-2.693-4.471-2.693-8.308C28.356,15.64,29.928,12.97,30.872,11.755z M23.413,11.755
		c-0.888,2.137-1.573,4.885-1.573,8.302c0,3.28,0.81,6.08,1.789,8.308l-10.787,0.001c-1.057-0.069-6.325-0.77-6.325-7.862
		c0-6.928,5.532-8.46,7.052-8.749H23.413z" />
                                        </g>
                                        <g id="Capa_1">
                                        </g>
                                    </svg>

                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 109.648 118.516" style="enable-background:new 0 0 109.648 118.516;"
                                        width="30" height="30" xml:space="preserve">
                                        <g id="_x31_5-beach-pool-facilities">
                                            <path style="fill:#595858;" d="M84.25,16.133c-1.019-0.839-2.051-1.659-3.114-2.45l0,0l-0.007,0.001l-0.001-0.004
		c-1.07-0.786-2.156-1.53-3.255-2.252C54.135-4.104,24.056-3.466,1.303,11.289c-1.618,1.056-1.768,3.424-0.232,4.612
		c0.033,0.025,0.066,0.049,0.099,0.074c0.232,0.164,0.463,0.328,0.688,0.497c9.464,6.978,14.594,17.636,14.9,28.543
		c0.007,0.335,0.028,0.671,0.027,1.01c0.004,0.896,0.438,1.674,1.103,2.168l0.024,0.015c0.539,0.394,1.22,0.601,1.941,0.54
		c0.11-0.009,0.227-0.013,0.329-0.02c8.369-0.653,16.931,1.139,24.611,5.488L27.914,77.108l-24.425,33.13
		c-1.701,2.308-1.209,5.56,1.098,7.261l0,0c2.308,1.706,5.554,1.215,7.262-1.098l21.344-28.949l19.96-27.071
		c6.424,6.047,10.672,13.7,12.521,21.881c0.016,0.108,0.049,0.217,0.078,0.323c0.152,0.711,0.559,1.305,1.099,1.707l0,0
		c0.671,0.492,1.55,0.684,2.409,0.417c0.323-0.1,0.645-0.178,0.97-0.268c10.51-2.932,22.206-1.185,31.671,5.792
		c0.232,0.167,0.457,0.341,0.683,0.513c0.017,0.015,0.034,0.028,0.051,0.043c1.561,1.151,3.825,0.414,4.352-1.462
		C114.412,63.209,106.135,34.229,84.25,16.133z M80.695,26.326c1.5,18.015-3.668,33.795-8.459,44.105
		c-3.715-8.467-9.586-15.881-17.14-21.444c-7.547-5.568-16.37-8.991-25.57-10.034c8.429-7.622,21.972-17.226,39.654-21.117
		c3.198-0.705,6.528-1.219,9.996-1.5C79.925,19.727,80.423,23.062,80.695,26.326z" />
                                        </g>
                                        <g id="Capa_1">
                                        </g>
                                    </svg>

                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 117.551 108.693" style="enable-background:new 0 0 117.551 108.693;"
                                        width="30" height="30" xml:space="preserve">
                                        <g id="_x36_1-coffe-maker">
                                            <path style="fill:#595858;" d="M88.131,11.944l-1.421-0.958h-8.883c1.201-0.601,2.04-1.828,2.04-3.261V3.661
		C79.868,1.64,78.227,0,76.2,0H11.343C9.321,0,7.681,1.64,7.681,3.661v0.507c0,3.818,2.985,6.949,6.741,7.193
		c-2.128,0.801-3.65,2.841-3.65,5.251c0,3.105,2.517,5.621,5.621,5.621h66.848c14.473,10.297,23.06,26.053,23.06,42.466
		c0,3.105,2.517,5.621,5.629,5.621c3.104,0,5.62-2.516,5.62-5.621C117.551,44.018,106.553,24.3,88.131,11.944z M75.874,27.699H15.7
		c-1.071,0-2.085,0.469-2.786,1.283C4.589,38.729,0,51.592,0,65.188c0,17.015,7.343,32.977,19.637,42.717
		c0.651,0.513,1.452,0.789,2.272,0.789h47.756c0.826,0,1.628-0.275,2.279-0.789c12.288-9.74,19.631-25.702,19.631-42.717
		c0-13.596-4.588-26.459-12.914-36.206C77.965,28.168,76.944,27.699,75.874,27.699z M9.245,56.807
		c1.277-7.624,4.269-14.691,8.782-20.563h55.524c4.507,5.872,7.505,12.939,8.776,20.563H9.245z" />
                                        </g>
                                        <g id="Capa_1">
                                        </g>
                                    </svg>

                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 118.457 108.293" style="enable-background:new 0 0 118.457 108.293;"
                                        width="30" height="30" xml:space="preserve">
                                        <g id="_x31_3-restaurant">
                                            <g>
                                                <g>
                                                    <path style="fill:#595858;" d="M36.33,78.49l-4.379-5.702L5.923,97.745c-2.2,2.074-2.253,5.511-0.145,7.652l1.081,1.105
				c2.103,2.141,5.604,2.197,7.794,0.132l26.044-24.963C38.987,80.991,37.449,79.912,36.33,78.49z M62.832,53.362
				c8.24,8.367,20.746,9.669,27.894,2.899l27.502-26.047l-5.088-5.158L90.167,46.824l-0.038-0.032
				c-0.032,0.032-2.501,2.657-5.196,2.694c-1.151,0.014-2.162-0.446-3.244-1.527c-0.021-0.008-0.161-0.121-0.344-0.307
				c-1.097-1.11-2.372-3.55,1.344-7.372l23.414-22.179l-5.825-5.922L79.006,32.339l-0.021-0.091l-1.383,1.372
				c-2.039,1.993-3.91,2.993-5.578,2.974c-1.302-0.008-2.216-0.659-2.748-1.197c-0.177-0.202-0.301-0.352-0.43-0.524
				c-2.528-2.566-0.952-5.387,0.747-7.259L93.448,5.023l-5.089-5.169L60.874,25.906c-3.485,3.308-5.191,7.993-4.787,13.224
				C56.48,44.288,58.884,49.339,62.832,53.362z M10.49,7.586C8.607,5.657,5.736,5.574,3.81,7.384C3.595,7.599,3.39,7.844,3.191,8.11
				l-2.178,2.975c-1.71,2.329-1.646,5.954,0.151,8.232l41.519,54.06c1.813,2.289,5.406,3.039,7.998,1.689l2.598-1.361
				c1.77-0.917,4.427-0.497,5.809,0.917l31.337,31.869c2.109,2.152,5.605,2.208,7.794,0.143l1.13-1.076
				c2.183-2.06,2.237-5.502,0.134-7.641L10.49,7.586z" />
                                                </g>
                                            </g>
                                        </g>
                                        <g id="Capa_1">
                                        </g>
                                    </svg>






                                    <p class="card-text">Precio por noche por habitación</p>
                                    <h5>
                                        <%= hotel.price %>
                                    </h5>

                                    <a href="/hotel/<%= hotel.id %>" class="btn btn-primary">VER HOTEL!</a>
                                    <!--
                                    <a href="/delete/<%= hotel.id %>" class="btn btn-danger">Eliminar</a>
                                -->

                                </div>
                                <div class="card-footer">




                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>

                        <% }); %>


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-8 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>